body {
    color: #1a75ff;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
    height: 100%;
    margin: 20px 15px;
    background-color: #E8E8E8;
}

html {
  scroll-behavior: smooth;  /*For smooth scroll transitions in page*/
}
}

#calculator {
  align-content: center;
  display: block;
}

/*For logo*/
.img-fluid1{
  width:25%;
  height:25%;
}
/*for pictures in index.html*/
.img-fluid{
  width:100%;
  height:50%;
}

.logo {
  float: left;
}

.navbar {
  float: right;
}

.navbar li {
  font-size: 36px;
  display: inline;
  text-align: center;
  margin: 20px 15px;
  overflow: hidden;
}

.navbar a:hover {
    color: #00b300 !important;
    background-color: transparent !important;
    border-bottom: solid 2px #ffffff !important;
}

header {
  overflow: hidden;
  margin: 20px 15px;
  z-index: 1;
  background-color: #0076CE;
  color: #ffffff;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/*Reference: w3schools*/
.sticky {
  position: fixed;
  top: 0;
  width: 96%;
  margin: 20px 15px;
  background-color: #0076CE !important;
  border-bottom: solid transparent 1px !important;
  color: #0076CE !important;
}


.sticky a {
  color: #fff !important;
}

.sticky a:hover {
  color: #00b300 !important;
}


.pagecontent {
  margin: 20px 15px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .pagecontent {
  padding-top: 60px !important;
  margin: 20px 15px;
}



a {
    color: #1a75ff;
    background-color: #ffffff
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 100% !important;
    color: #1a75ff;
    margin: 0;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #1a75ff;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {

    background-color: transparent !important;
    border-bottom: solid 1px #ffffff !important;

}

a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: transparent;
}


ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

nav {
    display: inline-flex;
}


/*------------------------------------------------------------------
for blog page banner image
-------------------------------------------------------------------*/
.followImg {
  height: 50%;
  width: 99%;
}
.follow {
  height: 30vh;
}
/*------------------------------------------------------------------
for index page banner image
-------------------------------------------------------------------*/

.mainBanner{
	height: 80vh;
	position: relative;
	display: table;
  width: 99%;
	text-align: center;
}
.mainBanner::after {
    content: ;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f1f1f1;
}
/*------------------------------------------------------------------
for indexpage banner text
-------------------------------------------------------------------*/

.heading{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
  background: rgba(0, 0, 0, 0.8) !important;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.heading p{
	font-size: 18px;
	padding: 20px 40px;
}

.heading h3{
	color: #ffffff;
}



.section {
    display: inline-block;
    position: relative;
    overflow: visible;
    padding: 70px 40px;
}

.pagecontent{
  overflow: hidden;
  position: relative;
  height: auto;
  width: auto;
}

.services {
    background-color: #ffffff !important;
}

.section h2 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.services-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.services-title p {
    color: #1a75ff;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.col h3 {
  color: #00b300;
}

.services-title h2, h3 {
  font-size: 38px;
  font-weight: 500;
  line-height: 62px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: none;
  color: #00b300;
}

.services h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.services-inner-box h3{
  color: #00b300;
}

/*for signup button*/
.btn-hover-new{
	color: #1a75ff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #1a75ff;
	overflow: hidden;
	padding: 0px 18px;
	display: inline-block;
}

.simBtn{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	cursor: pointer;
}

.btn-hover-new::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.btn-hover-new span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent;
}

.btn-hover-new:hover{
	color: #00b300;
	background-color: transparent;
}
.btn-hover-new:hover > span {
    opacity: 0;
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
}
.btn-hover-new:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

/*All e-waste services columns*/
.services-inner-box{
	margin-left: 20px;
  margin-right: 20px;
  border-color: #999999;
  text-align: justify;
  padding: 10px;
  line-height: 25px;
}

.services-inner-box h3{
	font-size: 22px;
  text-align: center;
}

.servicesImg {
  width: 100%;
  height: 20vh;
  position: relative;
}

.col {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-gap: 50px;
  border: 18px 40px;
  border-color: #00b300;
}


/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/


.row1 {
  display: grid;
  grid-template-columns: auto auto auto;
}



/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
/* Footer left */
footer {
  position: relative;
  width: 98%;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    color: #ffffff;
}

.footer-links a:hover {
    background-color: transparent !important;
    border-bottom: solid 1px #00b300 !important;
}

.footer-links li {
    width: 100%;
    display: inline-block;
    width: 25px;
}

.footer-distributed {
    background-color: #1a75ff;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    overflow: hidden;
}


.footer-distributed a {
    display: inline-flex;
    flex: right;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-distributed {
    font-weight: 300;
    margin: 0 0px;
    color: #ffffff;
    padding: 0;
}

/* Footer right */

.footer-company-name {
    float: right;
}

@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}

/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.navbar .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}

.btn {
    border: 0 !important;
}

.btn-light {
    padding: 10px 40px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent;
}

.btn-dark {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ececec !important;
    color: #1f1f1f;
    background-color: transparent;
}

.btn-light:hover,
.btn-light:focus {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

/*blog*/
.vrow{
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
  text-align: center;
  align-content: center;
}

.trow{
  display: grid;
  grid-template-columns: 61vh 61vh 61vh;
  position: relative;
  text-align: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .trow .vrow {
    display: block;
    width: 100%;
  }
}

/*contact form*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/*background spinner*/

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
  border-radius: 75px;
	-webkit-mask-image: url(uploads/spinner.png);
	background-color: #1a75ff;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

/* Create two columns that float next to eachother */
.fcolumn {
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.frow:after {
  content: "";
  display: table;
  clear: both;
}

.contactImg {
  align: center;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, button[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.imgAbout {
  object-fit: fill;
  object-position: center;
}
